<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Git

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Tensor Flow

| Data Science Tools |
|:--------:|
|  R Studio | 
|   Apache Spark |  
|   Hadoop |

### This is an h3 style heading
Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
 #This a simple arithmetic expression to mutiply then add integer
 result =(3*4)+5
result

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
minutes = 200

In [3]:
minutes/60

3.3333333333333335

**Objectives**
* Python
* R
* Github
* SQl

##This is an H2 style heading

Author:

Peter Rios