Description: Data Manipulation Project on NBA player statistics completed for the Oklahoma City Thunder.

### Question   

**QUESTION:** What is the average number of points per game for players in the 2007-2021 seasons who won All NBA First, Second, and Third teams (**not** the All Defensive Teams), as well as for players who were in the All-Star Game (**not** the rookie all-star game)?

In [2]:
import pandas as pd

In [3]:
df_awards = pd.read_csv('okcdata/awards_data.csv')

In [4]:
df_playerstats = pd.read_csv('okcdata/player_stats.csv')

In [5]:
filtered_awards1 = df_awards[df_awards['All NBA First Team'] >= 1]

In [6]:
merged_df1 = filtered_awards1.merge(df_playerstats, on='nbapersonid', how='left')

In [27]:
merged_df1['points'].sum()

1361991

In [28]:
merged_df1['games'].sum()

59884

In [8]:
filtered_awards2 = df_awards[df_awards['All NBA Second Team'] >= 1]

In [9]:
merged_df2 = filtered_awards2.merge(df_playerstats, on='nbapersonid', how='left')

In [10]:
merged_df2['points'].sum()

1107139

In [30]:
merged_df2['games'].sum()

54807

In [33]:
filtered_awards3 = df_awards[df_awards['All NBA Third Team'] >= 1]

,season,nbapersonid,All NBA Defensive First Team,All NBA Defensive Second Team,All NBA First Team,All NBA Second Team,All NBA Third Team,All Rookie First Team,All Rookie Second Team,Bill Russell NBA Finals MVP,Player Of The Month,Player Of The Week,Rookie Of The Month,all_star_game,rookie_all_star_game,allstar_rk,Defensive Player Of The Year_rk,Most Improved Player_rk,Most Valuable Player_rk,Rookie Of The Year_rk,Sixth Man Of The Year_rk,all_nba_points_rk,all_rookie_points_rk
7,2007,1503.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,2.0,0.0,NaN,NaN,3.0,NaN,NaN,8.0,NaN,NaN,NaN,NaN
11,2007,1718.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,2.0,0.0,True,False,4.0,NaN,NaN,14.0,NaN,NaN,NaN,NaN
15,2007,1938.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,NaN,NaN,6.0,NaN,NaN,10.0,NaN,1.0,NaN,NaN
23,2007,2397.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,True,False,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,2007,2430.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,True,False,4.0,NaN,NaN,14.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
646,2021,2544.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,True,False,1.0,NaN,NaN,10.0,NaN,NaN,12.0,NaN
647,2021,101108.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,True,False,4.0,NaN,NaN,9.0,NaN,NaN,13.0,NaN
662,2021,1626157.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,3.0,0.0,True,False,7.0,NaN,NaN,NaN,NaN,NaN,11.0,NaN
666,2021,1627783.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,NaN,NaN,9.0,NaN,NaN,NaN,NaN,NaN,15.0,NaN
676,2021,1629027.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,3.0,0.0,True,False,2.0,NaN,NaN,NaN,NaN,NaN,14.0,NaN

In [12]:
merged_df3 = filtered_awards3.merge(df_playerstats, on='nbapersonid', how='left')

In [13]:
merged_df3['points'].sum()

973766

In [31]:
merged_df3['games'].sum()

53860

In [14]:
filtered_awardsAS = df_awards.query('all_star_game == True')

In [15]:
merged_dfAS = filtered_awardsAS.merge(df_playerstats, on='nbapersonid', how='left')

In [25]:
merged_dfAS['points'].sum()

5389509

In [32]:
merged_dfAS['games'].sum()

277913

<strong><span style="color:red">ANSWER 1:</span></strong>   

1st Team: 22.7 points per game  
2nd Team: 20.2 points per game  
3rd Team: 18.07 points per game  
All-Star: 19.39 points per game